body
{
   background-color:#2d2d2d;
}

.fill
{
   display:block;
   width:100% !important;
}

.w3-animate-left-rev
{
   position:relative;
   animation:animateleftrev 0.4s
}

@keyframes animateleftrev
{
   from
   {
      left:0;
      opacity:1;
   }
   to
   {
      left:-300px;
      opacity:0;
   }
}